<div class="center">
  <%= image_tag "https://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YbkczeVRyWUhmMlk", :alt => "カミトバロゴ" %>

  <h2>
    逐次刊行 カミトバ。のウェブページです。
  </h2>

  <hr>

  <div class="about">
    <h2>カミトバ。について</h2>
    <p>
      『カミトバ。』とは、「オリジナル漫画が描きたい!」と集った同人サークルです。<br>
      半年に1冊くらいを目標に細く長く続けていけたらよいなと思います。
    </p>
  </div>

  <hr>

  <div class="news">

    <h2>お知らせ</h2>

    <p>
      コミティアに出店します。 <a href="http://www.comitia.co.jp">http://www.comitia.co.jp</a><br>
      日時 2015年5月5日<br>
      場所 有明•東京ビックサイト東4•5•6ホールN15b カミトバ。<br>
      『逐刊 カミトバ。2015.05』リリース。<br>
    </p>
  </div>

  <hr>

  <h2>逐刊 カミトバ。 2015.05</h2>

  <div class="kamitobaBook clearfix">
    <div class="kamitobaBookImage">
      <%= image_tag "https://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YWFJCd2dNTTI1SDQ", :alt => "カミトバ２" %>
    </div>
    <div class="kamitobaBookDescription">
      <h4>【収録作品】</h4>
      「☆」 しろう<br>
      ねるゲー よるか<br>
      どっかとがん まなこ<br>
      かくれんぼ 小山あると<br>
      伝言ゲーム neko<br>
      アンえもん keitanxkeitan<br>
      ゲーム 北岾もなか<br>
      手を離してお待ちください。 和犬<br>
      ハードボイルドマン（勇者） 祐一<br>
      ゲームの細道 森田うよ介<br>
      全100ページ
    </div>
  </div>

  <hr>

  <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YMWRrcFpwV3dyX3c"), "http://blog.kamitoba.jpn.com" %>

  <hr>

  <h2>ウェブトバ。</h2>

  <div id="mybook">
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YY2dxdzlXRjdwVVE"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YQlNVNUh3NFhKc28"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YUmtNRVRoNTRKTms"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YLW90UFlHNWVpdlE"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YdWlBWDFnQU5PMk0"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YcWdOZzBadTEyY2M"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YdlhzUW4tb2tGQ1k"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YbmtmdUxJdlo2aGc"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YalJ1eEhYSWtad0U"), "webtoba" %>
    </div>
    <div> 
      <%= link_to image_tag("http://drive.google.com/uc?export=view&id=0B8SKmXI9ah1YODRldFVRV3l2cHM"), "webtoba" %>
    </div>
  </div>
  
</div>
<script>
  $(function() {
    //single book
    $('#mybook').booklet({ width: 960, height: 670, direction: "RTL", closed: true });
  });
</script>
