<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "https://doc-10-08-docs.googleusercontent.com/docs/securesc/581m524ns335bpeia8esljs1q5jske5e/jql9pcvmumendv5divmbtk39sn0aq7cg/1415714400000/15880964334660837174/15880964334660837174/0B8SKmXI9ah1YNFQ1RlRKLVI2MVk?e=view" %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
